@font-face{
    font-family: "Oxygen";
    src: url("../fonts/Oxygen-Regular.ttf");

}
@font-face{
    font-family: "MerryWeather";
    src: url("../fonts/Merriweather-Regular.ttf");

}

@font-face{
    font-family: "libreFrankling";
    src: url("../fonts/librefranklin-regular.ttf")

}
@font-face{
    font-family: "OpenSans";
    src: url("../fonts/OpenSans-Regular.ttf");

}

.grises img {
filter: url('#grayscale'); /* Versión SVG para IE10, Chrome 17, FF3.5, Safari 5.2 and Opera 11.6 */
-webkit-filter: grayscale(100%);
-moz-filter: grayscale(100%);
-ms-filter: grayscale(100%);
-o-filter: grayscale(100%);
filter: grayscale(100%); /* Para cuando es estándar funcione en todos */
filter: Gray(); /* IE4-8 and 9 */

-webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-ms-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
transition: all 0.5s ease;
}
.grises img:hover { 
-webkit-filter: grayscale(0%);
-moz-filter: grayscale(0%);
-ms-filter: grayscale(0%);
-o-filter: grayscale(0%);
filter: none;

-webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-ms-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
transition: all 0.5s ease;
}

.divin{
    background-image: url(../img/inicio/1.png);
    position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    overflow: hidden;



}
.divrm{
    background-image: url(../img/inicio/2.png);
    position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    overflow: hidden;
}

.divvr{
    background-image: url(../img/inicio/3.png);
    position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    overflow: hidden;
}

.divnt{
    background-image: url(../img/inicio/4.png);
    position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    overflow: hidden;
}

.divsu{
    background-image: url(../img/inicio/5.png);
    position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    overflow: hidden;
}

.imgindex{
    position: relative;
    margin-left: 50px;

}

.Oxygen{
    font-family: Oxygen;
}
.Merry{
    font-family: MerryWeather;
}
.Libre{
    font-family: libreFrankling;
}
.OpenSans{
    font-family: OpenSans;
}

.imginicio{
    width: 800px;
    height: 600px;

}


#slider{
    width: 2000px;
    height: 100px;

    background-image: url(../img/prueba2.png);
    background-size: 100% 100%;
    overflow: hidden;
    animation: slider 100s infinite linear;
}

@keyframes slider{
    to{
        background-position: 2000px;
    }
}

* {
    padding:0;
    margin:0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
 
body {background:#FEFEFE;}
 
.menu_bar {
    display:none;
}
 
header {
    width: 100%;
}
 
header nav {
    
    background: #ff2800;
    z-index:1000;
    max-width: 1340px;
    
    margin:20px auto;
}
 
header nav ul {
    list-style:none;
}
 
header nav ul li {

    display:inline-block;
    position: relative;
}
 
header nav ul li:hover {
    color: white;
    background:gray;
}
 
header nav ul li a {
    font-size: 13px; 
    color:#fff;
    display:block;
    text-decoration:none;
    padding: 15px;
}
 
header nav ul li a span {
    margin-right:10px;
}
 
header nav ul li:hover .children {
    background: gray;
    display:block;
}
 
header nav ul li .children {
    color: #fff;
    display: none;
    background: #bf1e00;
    position: absolute;
    width: 150%;
    z-index:1000;
}
 
header nav ul li .children li {
    display:block;
    overflow: hidden;
    border-bottom: 1px solid rgba(255,255,255,.5);
}
 
header nav ul li .children li a {
    display: block;
}
 
header nav ul li .children li a span {
    float: right;
    position: relative;
    top:3px;
    margin-right:0;
    margin-left:10px;
}
 
header nav ul li .caret {
    position: relative;
    top:3px;
    margin-left:10px;
    margin-right:0px;
}
 
@media screen and (max-width: 800px) {
    
body {
        padding-top:80px;
    }
 
    .menu_bar {
        display: inline-block;
        width:100%;
        position: fixed;
        top:0;
        background: #ff2800;
        z-index: 1000;
    }
 
    .menu_bar .bt-menu {
        display: block;
        padding: 20px;
        color: #fff;
        overflow: hidden;
        font-size: 25px;
        font-weight: bold;
        text-decoration: none;
       
    }
 
    .menu_bar span {
        float: right;
        font-size: 40px;
    }
 
    header nav {
        width: 80%;
        height: calc(100%-80px);
        font-size: 20px;
        position: fixed;
        right:100%;
        margin-top: -176px;
        margin-left: 15.4px;
        overflow: scroll;
    }
 
    header nav ul li {

        display: block;

        border-bottom:1px solid rgba(255,255,255,.5);
    }
 
    header nav ul li a {
        font-size: 18px;
        font-weight: bold;
        display: block;
    }
 
    header nav ul li:hover .children {
        display: none;
        background: gray;
    }
 
    header nav ul li .children {
        width: 100%;
        position: relative;
    }
 
    header nav ul li .children li a {
        margin-left:20px;
    }
 
    header nav ul li .caret {
        float: right;
    }
}    
       